
<div class="col-md-4 well">
	Name: {{model.title}} 	<br>
	Level: {{model.level}} <br>
	<img src={{model.image}} class="img-responsive img-thumbnail" >
	{{#link-to 'monsters.monster.edit' model tagName="button"}}Edit Monster{{/link-to}}
</div>
{{outlet}}


